<!doctype html>
<html lang="en">
    <head>
        <title>Your plant!</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body
        style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            height: 100vh;
            width: fit-content;
            margin: 0 auto;
            flex-wrap: wrap;
        "
    >
        <div class="w-full">
            <h1 class="text-2xl font-bold mb-2">
                Plant moisture:
                <span
                    id="moisture"
                    hx-get="/moisture"
                    hx-trigger="every 1s"
                    hx-headers='{"MarkoAuth": "Markonsalasana2024"}'
                    >Loading...</span
                >
            </h1>
        </div>
        <div class="w-full">
            <h1 class="text-2xl font-bold mb-4">
                Trigger level (Current:
                <span
                    id="trigger"
                    hx-get="/trigger"
                    hx-trigger="every 1s"
                    hx-headers='{"MarkoAuth": "Markonsalasana2024", "Content-Type": "application/json", "X-Web": "true"}'
                    >Loading...</span
                >)
            </h1>
            <button
                class="rounded px-2 py-1 bg-gray-200 hover:bg-gray-300 transition-colors"
                onclick="document.querySelector('form').style.display = 'block'; this.style.display = 'none'"
            >
                Update?
            </button>
            <form
                hx-post="/set-trigger"
                class="w-full flex gap-2 mb-1"
                style="display: none"
                hx-target="#triggerMessage"
                hx-headers='{"MarkoAuth": "Markonsalasana2024"}'
            >
                <input
                    type="number"
                    min="0"
                    max="4096"
                    class="border border-black rounded w-32"
                    name="triggerLevel"
                    id="triggerLevel"
                />
                <button
                    type="submit"
                    class="rounded px-2 py-1 bg-gray-200 hover:bg-gray-300 transition-colors"
                >
                    Submit
                </button>
            </form>
            <div id="triggerMessage"></div>
        </div>
        <div class="w-full">
            <h1 class="text-2xl font-bold mb-2">Manually watering?</h1>
            <button
                type="submit"
                class="rounded px-2 py-1 bg-gray-200 hover:bg-gray-300 transition-colors"
                hx-headers='{"MarkoAuth": "Markonsalasana2024"}'
                hx-get="/water"
            >
                Water
            </button>
        </div>
    </body>
</html>
